<div class="container row">
    <hr>
    <input class=" col-7 mb-2 form-control mr-sm-2" type="text" placeholder="Buscar gallina.." aria-label="Search" (keyup.enter)="buscarGallina(buscarTexto.value)" #buscarTexto>
    <button class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="buscarGallina(buscarTexto.value)">Buscar</button>
</div>