<hr><div class="text-center container">Sistema de granjas</div><hr>

<div class="container mb-5 text-center dropdown">
  <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Crear nueva granja
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
      <form (ngSubmit)="guardar(Forma)" #forma="ngForm">
          <input name="name" [(ngModel)]="creoGranja.name" placeholder="Nombre" class="mx-2" type="text">
    
          <button type="submit" class="mr-1">Send</button>
      </form>
  </div> <hr>
</div>

<div class="container row d-flex justify-content-center">


<div *ngFor="let granjita of listaDeGranjas" class="col-4">
<div class="card mb-2" style="width: 18rem;">
  <img class="card-img-top" src="https://www.alfabetajuega.com/wp-content/uploads/2019/01/Minecraft-captura.jpg" alt="Card image cap">
  <div class="text-center card-body">
    <h5 class="text-center card-title">{{granjita.name}}</h5><br>
    <button type="button" (click)="accederALaGranja(granjita.id)" class="mb-3 btn btn-primary">Ver granja</button>
    <ul class="list-group list-group-flush">
      <li class="text-center list-group-item">{{granjita.cantGallinas}} <span class="rojo">gallina/s</span> | {{granjita.cantHuevosHUERFANOS}} <span class="amarillo">huevo/s huerfano/s</span>    </li>
      <li class="text-center list-group-item"><button (click)="borrarGranja(granjita.id)" class="btn"> <img width="100" src="https://s3.amazonaws.com/spoonflower/public/design_thumbnails/0432/8236/rrrrpixfire_1x1_shop_preview.png"></button></li>
    </ul>
  </div>
</div>
</div>
 







</div>



